body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: 350px;
    margin: 80px auto;
    text-align: center;
}

input {
    width: 250px;
    height: 35px;

    margin: 10px;

    font-size: 16px;
}

button {

    width: 260px;
    height: 40px;

    margin-top: 15px;

    font-size: 16px;

}

#goRegister:hover,
#goLogin:hover {
    color: blue;
    text-decoration: underline;
}

.hint{
width:250px;
margin:-5px auto 10px auto;
text-align:left;
font-size:12px;
color:#777;
line-height:16px;
}
.password-rules{
width:250px;
margin:5px auto 15px auto;
text-align:left;
}
.rule{
font-size:13px;
margin:4px 0;
transition:.2s;
}
.invalid{
color:#d32f2f;
}
.valid{
color:#2e7d32;
font-weight:bold;
}

.dashboard{
    width:90% !important;
    max-width:1400px;
    margin:30px auto;
    text-align:left;
}

#mainWindow{
    display:flex;
    height:650px;
    border:1px solid #bdbdbd;
}

#leftPanel{
    width: 35%;
    min-width: 280px;
    max-width: 500px;
    background:white;
    border-right:1px solid #bdbdbd;
    display:flex;
    flex-direction:column;
}

#leftPanel h3{

    margin-top: 45px;
    padding: 20px;

    border-bottom: 1px solid #d5d5d5;

    font-weight: normal;
}

.watchButton{

    width:100%;
    height:55px;

    border:none;
    border-bottom:1px solid #e0e0e0;

    background:white;

    text-align:left;

    padding-left:20px;

    font-size:16px;

    cursor:pointer;
}

.watchButton:hover{

    background:#efefef;

}

#addWatchButton{
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    background: none;
    font-size: 40px;
    color: #777;
    cursor: pointer;
}

#addWatchButton:hover{

    color:black;

}

#rightPanel{
    flex:1;
    background:white;
    padding:35px;
    min-width:625px;
}

#rightPanel h2{

    margin-top:0;

    font-weight:normal;

}

#rightPanel button{

    width:220px;

    height:45px;

    margin:8px 0;

    border:1px solid #999;

    background:white;

    cursor:pointer;
}

#rightPanel button:hover{

    background:#ddd;

}

#rightPanel input{

    width:300px;

    height:38px;

    margin:15px 0;

    border:1px solid #999;

    background:white;

    padding-left:10px;
}

.welcomeScreen{

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.welcomeWatch{

    width:220px;
    height:auto;

    margin-bottom:30px;

    opacity:0.95;

}

#mainWindow{
    position: relative;
    display: flex;
    height: 650px;
    border: 1px solid #bdbdbd;
}

#topBar{

    position: absolute;

    top: 15px;
    left: 15px;

    z-index: 100;

}

#homeButton{

    width: 40px;
    height: 40px;

    cursor: pointer;

    opacity: .7;

    transition: .2s;

}

#homeButton:hover{

    opacity: 1;
    transform: scale(1.05);

}
#chatWindow{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background:none;
}


.chatHeader{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-bottom:1px solid #ddd;
    background:white;
}

#backButton{
    width:90px;
    height:35px;
    font-size:14px;
    border-radius:8px;
    cursor:pointer;
}

#chatMessages{
    flex:1;
    overflow-y:auto;
    padding:15px;

    display:flex;
    flex-direction:column;

    gap:8px;
}

#chatInputArea{
    display:flex;
    gap:10px;
    padding:15px;
    border-top:1px solid #ddd;
    background:white;
}

#chatInput{
    flex:1;
    padding:12px;
    border-radius:8px;
    border:1px solid #bbb;
}

#sendButton{
    width:110px;
    height:45px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}
.message{
    align-self:flex-end;

    max-width:45%;

    padding:8px 12px;

    background:#ffffff;

    border:1px solid #d9d9d9;

    border-radius:14px;
    border-bottom-right-radius:4px;

    box-sizing:border-box;
}

.messageText{
    font-size:14px;
    line-height:18px;
    word-break:break-word;
}

.messageDate{
    margin-top:3px;
    font-size:10px;
    color:#777;
    text-align:right;
}
